.customer-label {
  text-align: center;
  display: block;
  margin-top: 40px;
  font-weight: 600;
  font-size: larger;
}

.nav-tabs {
  margin-top: 60px;
  margin-left: 20px;
}

.tab-content {
  margin-left: 20px;
  margin-top: 20px;
}

.customer-type-button {
  margin-right: 30px;
  font-weight: 500;
  float:right;
}

table {
  width: 30%;
}

table th {
  font-weight: 700
}

.back-home {
  /*text-align: center;*/
  margin-top: 25px;
  font-weight: 700;
}

.header {
  color: lightyellow !important;
  font-size: large !important;
  margin: 0 auto !important;
  padding: 20px !important;
}








