<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="header">CRM Application</div>
  </nav>
<div class="customer-label">
  <Label>Customer Information</Label>
  </div>

<!-- Button trigger modal -->
<!-- <div class="customer-type-button">
  <Label>Customer Information</Label>
</div> -->

<div>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
      aria-selected="true">Customer Type</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
      aria-selected="false">Contacts</a>
    </li>
  </ul>
</div>

<div class="tab-content" id="myTabContent">
  <!-- Customer Type -->
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <!-- Button trigger modal -->
        <div class="customer-type-button">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basicExampleModal" (click)="addTypeClick()">
            Add Customer Type
          </button>
        </div>
     <table class="table table-bordered table-resposive table-striped">
        <tr>
          <th>Customer Type</th>
          <th>Action</th>
        </tr>
          
        <tr *ngFor="let item of selectedCustomerTypeList; let i = index">
          <td>{{item.type}}</td>
          <td>
            <!--
            <span class="m-1" *ngIf="selectedCustomerTypeList?.length > 1">
                <i class="far fa-trash-alt" (click)="deleteItem(i, item.id, item)" data-toggle="tooltip" data-placement="right" title="Delete"></i>
            </span>
            -->
            <span class="m-1">
                <i class="far fa-trash-alt" (click)="deleteItem(i, item.id, item)" data-toggle="tooltip" data-placement="right" title="Delete"></i>
            </span>
          </td>
        </tr>
      </table>

  </div>

  <!-- Contact Type -->
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <table class="table table-bordered table-resposive table-striped">
      <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Title</th>
        <th>Mobile Phone</th>
        <th>Personal Email Address</th>
      </tr>

      <tr *ngFor="let contact of selectedCustomerContactList; let i = index">
        <td>{{contact.last_name}}</td>
        <td>{{contact.first_name}}</td>
        <td>{{contact.title}}</td>
        <td>{{contact.phone}}</td>
        <td>{{contact.email}}</td>
      </tr>

      <tr *ngIf="! ((selectedCustomerContactList && selectedCustomerContactList.length))">
        <td colspan=6>
          <div class="alert alert-primary" role="alert">
            No contacts to display !
          </div>
        </td>
      </tr>

    </table>
  </div>
</div>

<div>
  <a href="customerlist" [routerLink]="['']" class="nav-link back-home active">Back to Customer List</a>
</div>

<!-- Modal for add customer tyep -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Customer Type</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="customerTypeForm">
          <div class="col-lg-12">
            <label for="customer Type">Customer Type</label>
            <select 
              name="customerTypeList"
              id="customerTypeList"
              (change)="typeChange($event)"
            >
              <option *ngFor="let item of customerTypeList" [ngValue]="item.id" [value]="item.id" required>
                {{item.type}}
              </option>
            </select>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveCustomerType(customerTypeForm.value)" >Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeCustomerTypeModalDialog()">Close</button>
      </div>
    </div>
  </div>
</div>