  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="header">CRM Application</div>
    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link"  [routerLink]="['app']">
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['customerlist']">Customer List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['permission']">Permissions</a>
        </li>
      </ul>
    </div> -->
  </nav>
  <router-outlet></router-outlet>
  