
.sidebar {
    width: 90px !important;
    background-color: #212529;
    min-height: calc(100vh - 56px);
}

#wrapper {
    /* display: -webkit-box; */
    display: -ms-flexbox;
    display: flex;
}

footer.sticky-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    width: calc(100% - 90px);
    height: 80px;
    background-color: #e9ecef;
}

.nav-link {
    color: white;
}

.header {
  color: lightyellow !important;
  font-size: large !important;
  margin: 0 auto !important;
  padding: 20px !important;
}