<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-lg-12">
      <div class="app-buttons">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basicExampleModal1" (click)="showDialog()">
          Add New Customer
        </button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basicExampleModal2" (click)="showContactDialog()">
          Add New Contact
        </button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basicExampleModal3" (click)="showCustomerTypeDialog()">
          Add New Customer Type
        </button>
        <div class="form-group has-search">
          <span class="fa fa-search form-control-feedback"></span>
          <input type="text" class="form-control" placeholder="Search" [(ngModel)]="name">
        </div>
      </div>
      
      <table class="table table-bordered table-resposive table-striped">
        <tr>
          <th>Customer Name</th>
          <th>Serial Number</th>
          <th>Company Name</th>
          <th>Address</th>
          <th>Postal Address</th>
          <th>Telephone</th>
          <th>Email</th>
          <th>Customer Type</th>
          <th>Action</th>
        </tr>
          
        <tr *ngFor="let item of customerList | customerFilter:name; let i = index" [routerLink]="['/customer', item.id]"  style="cursor:pointer;">
          <td *ngIf="!isEdit">{{item.name}}</td>
          <td *ngIf="!isEdit">{{item.serial_number}}</td>
          <td *ngIf="!isEdit">{{item.company_name}}</td>
          <td *ngIf="!isEdit">{{item.address}}</td>
          <td *ngIf="!isEdit">{{item.postal_address}}</td>
          <td *ngIf="!isEdit">{{item.telephone}}</td>
          <td *ngIf="!isEdit">{{item.email}}</td>
          <td *ngIf="!isEdit">{{item.serial_number}}</td>
          <td *ngIf="!isEdit">
            <!-- Delete function-->
            <span class="m-1">
                <i class="far fa-trash-alt" (click)="deleteItem(i)" data-toggle="tooltip" data-placement="right" title="Delete"></i>
            </span>
            <!-- Edit -->
            <span class="m-1 pointer" (click)="editItem(item)">
                <i class="fas fa-edit" data-toggle="tooltip" data-placement="right" title="Edit"></i>
            </span>
          </td>
          <td *ngIf="isEdit && selectedId== item.id"><input type="text" [(ngModel)]="item.name"></td>
          <td *ngIf="isEdit && selectedId== item.id"><input type="text" [(ngModel)]="item.serial_number"></td>
          <td *ngIf="isEdit && selectedId== item.id"><input type="text" [(ngModel)]="item.company_name"></td>
          <td *ngIf="isEdit && selectedId== item.id"><input type="text" [(ngModel)]="item.address"></td>
          <td *ngIf="isEdit && selectedId== item.id"><input type="text" [(ngModel)]="item.postal_address"></td>
          <td *ngIf="isEdit && selectedId== item.id"><input type="text" [(ngModel)]="item.telephone"></td>
          <td *ngIf="isEdit && selectedId== item.id"><input type="text" [(ngModel)]="item.email"></td>
          <td *ngIf="isEdit && selectedId== item.id">
            <button class="btn btn-primary" (click)="save()">Save</button>
            <button class="btn btn-default" (click)="cancel()">Cancel</button>
          </td>
          <td *ngIf="isEdit && selectedId != item.id">{{item.name}}</td>
          <td *ngIf="isEdit && selectedId != item.id">{{item.serial_number}}</td>
          <td *ngIf="isEdit && selectedId != item.id">{{item.company_name}}</td>
          <td *ngIf="isEdit && selectedId != item.id">{{item.address}}</td>
          <td *ngIf="isEdit && selectedId != item.id">{{item.postal_address}}</td>
          <td *ngIf="isEdit && selectedId != item.id">{{item.telephone}}</td>
          <td *ngIf="isEdit && selectedId != item.id">{{item.email}}</td>
          <td *ngIf="isEdit && selectedId != item.id">

            <!-- Delete Icon to show in other field (other than selected item)-->
            <span class="m-1 pointer" (click)="editItem(item)">
                <i class="far fa-trash-alt"></i>
            </span>

            <!-- Edit Icon to show in other field (other than selected item)-->
            <span class="m-1">
                <i class="fas fa-edit"></i>
            </span>
          </td>
        </tr>
        <tr *ngIf="! (customerList && customerList.length)">
          <td colspan=6>
              <div class="alert alert-secondary text-center"> No customers to display !!!</div></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<app-create-customer [display]="display" (displayChange)="openModalDialog($event)" (addedCustomer)="addCustomer($event)"></app-create-customer>
<app-create-contact [display]="display1" (displayChange)="openContactModalDialog($event)" (addedContact)="addContact($event)"></app-create-contact>
<app-create-customer-type [display]="display2" (displayChange)="openCustomerTypeModalDialog($event)" (addedCustomerType)="addCustomerType($event)"></app-create-customer-type>
