.modal-content {
  overflow: auto !important;
  max-height: 100vh !important;
}

.modal-header-label {
  margin-left: 156px;
  font-weight: 700;
}

.modal-body label {
  margin: 15px 0;
  font-weight: 500;
}